.idea/workspace.xml
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/ru/stqa/pft/sandbox/Points.java
sandbox/build/classes/main/Point.class
sandbox/build/classes/main/ru/stqa/pft/sandbox/Rectangle.class
sandbox/src/main/java/Point.java
sandbox/build/classes/test/ru/stqa/pft/sandbox/SquareTests.class
sandbox/build/classes/main/ru/stqa/pft/sandbox/Square.class
sandbox/build/classes/main/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/build/classes/test/DistanceTest.class
.idea/workspace.xml
adressbook-web-tests/gradlew.bat
adressbook-web-tests/gradlew
*.xml
*.iml
adressbook-web-tests/gradle/wrapper/gradle-wrapper.properties
*.class
TestNewContacts/build.gradle
TestNewContacts/gradle/wrapper/gradle-wrapper.properties
TestNewContacts/gradlew
TestNewContacts/gradle/wrapper/gradle-wrapper.jar
TestNewContacts/gradlew.bat
.idea/workspace.xml
.idea/workspace.xml
*.gradle
Testnewcontactcreation/gradlew.bat
Testnewcontactcreation/gradle/wrapper/gradle-wrapper.jar
Testnewcontactcreation/gradle/wrapper/gradle-wrapper.properties
Testnewcontactcreation/gradlew
*.xml
*.gradle
*.xml